.forget-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forget-pass a {
    text-decoration: none;
}

.forget-pass p,
a {
    font-weight: 600;
    color: #fe5454;
}

.forget-pass p:hover,
a:hover {
    color: #005;
}

/* -------------------
Responsive Register Part
--------------------*/
@media only screen and (min-width: 200px) and (max-width: 300px) {

    .forget-pass {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}