.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.background {
    background-color: #E0F4FF;
}

.size {
    max-width: 1060px;
    width: 96%;
    margin: 0 auto;
    padding: 0 2%;
}

.slider h2 {
    font-size: 42px;
    color: #181818;
    font-weight: 900;
}

.slider p {
    color: #000;
}

.slider .btn {
    padding: 12px 32px;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: 600;
}

.background .carousel-indicators [data-bs-target] {
    background-color: #005;
}

/* -------------------
Responsive Banner Part
--------------------*/
@media only screen and (min-width: 200px) and (max-width: 767px) {

    .slider .child-left {
        z-index: 999;
        text-align: center;
        background-color: #fff;
        opacity: 0.8;
        height: 400px;
        margin: 20px;
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    .slider .child-right {
        position: absolute;
        z-index: 99;
    }

}

@media only screen and (min-width: 200px) and (max-width: 480px) {

    .slider .child-left {
        height: 350px;
    }

}