.product-details {
    display: flex;
    align-items: center;
    padding: 30px;
    border: 2px solid red;
}

.product-details img {
    max-width: 300px;
    width: 100%;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.details div:first-child {
    width: 80%;
    padding: 0 20px;
}

.details div:last-child {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}

.details button {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.details button:hover {
    background-color: #FFC107;
    color: #000;
}

.details input {
    max-width: 650px;
    width: 100%;
}