.inventory {
    background-color: #fff;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product {
    background-color: #EAEFF2;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.product:hover {
    box-shadow: 3px 3px 15px gray;
}

.product img {
    background-color: #EAF0F0;
    max-width: 340px;
    width: 96%;
    height: 250px;
    margin: 10px 2%;
    box-sizing: border-box;
}

.update-button {
    background-color: #FFC107;
    border-radius: 25px;
    border: none;
}

.update-button:hover {
    background-color: #ffd207f5;
}

.update-button a {
    text-decoration: none;
    color: #000;
}

.manage-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-btn button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.manage-btn button:hover {
    background-color: #FFC107;
}

.manage-btn button a {
    color: #fff;
    text-decoration: none;
}

/* -------------------
Responsive Banner Part
--------------------*/
@media only screen and (min-width: 200px) and (max-width: 991px) {

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .product {
        height: auto;
    }

}

@media only screen and (min-width: 200px) and (max-width: 540px) {

    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .product {
        height: auto;
        margin: 0 auto;
    }

}