.subscribe {
    max-width: 700px;
    width: 100%;
    background-color: #EAEFF2;
    margin: 0 auto;
}

.subscribe h2 {
    font-family: 'Times New Roman', Times, serif;
}

.subscribe button {
    background-color: #000;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.subscribe button:hover {
    background-color: #005;
    color: #fff;
}

@media only screen and (min-width: 200px) and (max-width: 340px) {

    .subscribe button{
        margin-top: 15px;
    }

}