.menu-item a {
    font-size: 20px;
}

.menu-item .register,
.menu-item .login {
    background-color: #FFC10A;
    font-weight: 600;
}

.menu-item .register:hover,
.menu-item .login:hover {
    background-color: #ffa90ae5;
}